{% extends "base.html" %}
{% block content %}

	<main role="main" class="container">

		<div class="starter-template">
			<h1>Анализ ICO</h1>
			<p class="lead">Рейтинг токенов работающих на платформе Ethereum</p>
		</div>
		<div class="row">
			<div class="add-form col-md-5 ">
				<label for="basic-url">Проверить контракт </label>
				<div class="spinner">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>
				<div class="input-group">
					<div class="opac"></div>
					<input type="text" class="form-control" id="contract"
					       placeholder="Например: 0xb47393bd49be83445d77e55b520b73fecb575267">
					<div class="input-group-append">
						<button class="btn btn-success" id="add" type="button">Add</button>
					</div>

				</div>
			</div>
		</div>
		<div class="ico-table">
			<table class="table table-hover">
				<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">ICO name</th>
					<th scope="col">IS SCUM</th>
					<th scope="col">Start date</th>
					<th scope="col">END DATE</th>
					<th scope="col">Address</th>
				</tr>
				</thead>
				<tbody>
				{% for token in tokens %}
					<tr data-href='/token/{{ token.contract }}'>
						<th scope="row">{{ token.id }}</th>
						<td>{{ token.name }}</td>
						<td>{{ token.is_scum }}</td>
						<td>{{ token.ico_start_date }}</td>
						<td>{{ token.ico_end_date }}</td>
						<td>{{ token.contract }}</td>
					</tr>
				{% endfor %}

				<!--tr data-href='/token/'>
					<th scope="row">1</th>
					<td>MRDS Coin Token</td>
					<td>True</td>
					<td>None</td>
					<td>0xb47393bd49be83445d77e55b520b73fecb575267</td>
				</tr-->

				</tbody>
			</table>
		</div>

	</main><!-- /.container -->
{% endblock %}